
.primary-button {
    background: rgb(0,101,155 );
    border: none;
    border-radius: 16px;
    color: white;

}
.primary-button:value(1) {
    background: rgb(0, 55, 85);
}
.nav-bar-button {
    background: rgb( 0,101,155 );
    border: none;
    border-radius: none;
    margin: 0;
    padding: 0;
    color: white;
}
.nav-bar-button:value(1) {
    background: rgb(163,32,53);
    color: white;
}

.success-button {
    background: rgb(66,210,0);
    border: none;
    border-radius: 16px;
    color: white;

}
.success-button:value(1) {
    background: rgb(66,170,0);

}
.danger-button {
    background: rgb(210,14,29);
    border: none;
    border-radius: 16px;
    color: white;

}
.danger-button:value(1) {
    background: rgb(150,14,29);

}
.primary-container {
    background: rgb(0,101,155);

    border-width: 0;
    border-radius: 0;
}
.primary-text {
    color: rgb(0,101,155);

}
.warning-text {
    color: rgb(210,122,29);
}
.default-text {
    color: rgb(0,0,0);
}
.default-text-alt {
    color: rgb(255,255,255);
}

.microphone-mute-button {
    background: rgb(66,210,0);
    border: none;
    border-radius: 16px;
    color: white;
}
.microphone-mute-button:value(1) {
    background: rgb(210,14,29);
    border: none;
    border-radius: 16px;
    color: white;
}

.on-off-button:value(1) {
    background: rgb(66,210,0);
    border: none;
    border-radius: 16px;
    color: white;
}
.on-off-button {
    background: rgb(210,14,29);
    border: none;
    border-radius: 16px;
    color: white;
}


.fader-mute-button {
    background: rgb(0,101,155);
    border: none;
    border-radius: 16px;
    color: white;
}
.fader-mute-button:value(1) {
    background: rgb(210,14,29);
    border: none;
    border-radius: 16px;
    color: white;
}

.room-map {
    background-image: url(images/room-map.png)
}
.logo {
    background-image: url(images/logo.png)
}

.left-wall {
    background-image: url(images/left-wall.png)
}
.right-wall {
    background-image: url(images/right-wall.png)
}

.video-wall {
    background-image: url(images/video-wall.png)
}

.left-monitor{
    background-image: url(images/left-monitor.png)
}
.right-monitor {
    background-image: url(images/right-monitor.png)
}